@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}

@media all and (max-device-width: 480px)
{
  .Div_h
  {
    display: inline;
    size: auto;
  }

}
body {
	color: #fffd00;
	background-color: rgba(#028ac);
	font-size: 20px;
	background-image: url("https://zupimages.net/up/18/44/5zq5.png");
	background-size: contain;
	border: 2px solid rgba(255, 58, 58, 1);
	background-repeat:repeat;
}

header {
  display: -webkit-inline-box;
	background-color: #028ac;
	background-size: contain;
	display:flex;
  align-items:cente;
  justify-content:space-around;
}

div.Div_h {
    widt: 100%;
    height: 100%;
    margin: 12px 18px 79px -30px;
    float:left;
    overflow:
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg); /* Standard syntax */
}
div.Div_h:nth-child(even){
    margin: 150px 50px 10px -20px;
    background-color: #00b49a;
}

.Div_h img{
    width: 100%;
    height: 80%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 0px;

}

.Div_h img:hover {
    opacity: 0.8;
    width : 200%;
    height: 100%;
    margin: -50%;
}

.Div_2 img{
    width: 100%;
    height: 80%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 0px;

}
/*#nav-etage {
  margin:10px;
  border:1px;
  padding:10px;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows:    100px 100px 100px 100px;
}*/
#rdc {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  /*grid-template-areas: ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . .";*/
}
/*
#etage div {
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}*/

#rdc div, #etage div {
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.logo {
  width:64px;
}
.big-2 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
}
.wcs-7 {
  grid-row-start: 3;
  grid-row-end: 10;
  grid-column-start: 2;
}
.wcs-12 {
  grid-row-start: 5;
  grid-row-end: 9;
  grid-column-start: 3;
}
.bloc-15 {
  grid-row-start: 8;
  grid-row-end: 10;
  grid-column-start: 1;
}
#etage {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.setup-1{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
}
.couleur{
  color: cyan;
  background-color: blue;
}
.parent {
    display: -webkit-inline-box;
    overflow: hidden;
    width:100%;
}


HEAD
.container
{
   width: 940px;
   margin-right: auto;
   margin-left: auto;

}
.row
{

  display:flex;
  align-items:center;
  justify-content:space-around;
  height: 10em;
  line-height:10em;
  white-space:nowrap;
  padding:0em;

}
.row,img
{
  width:100%;
  background-color:#02c8ac;
}
.adresse
{
  color:#02c8ac;
  font-size:1em;
  font-family:Arial,sans serif;
  background-color:#02c8ac;

}
footer{
  background-color:#02c8ac;
}
