@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}


/*#nav-etage {
  margin:10px;
  border:1px;
  padding:10px;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows:    100px 100px 100px 100px;
  Attention
}*/
#rdc {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
  grid-gap: 5px; /*espace entre les cases*/
  /*grid-template-areas: ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . ." ". . .";*/
}

#nav-tab {
  margin-bottom: 10px; /* espace entre onglet RDC le plan.*/
}

.co-w{ /*fait*/
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
}
.entrée{
  grid-row-start:11;
  grid-row-end:13;
  grid-column-start:3;
}

.essai{
  background-color: grey;
  font-color: white;
}

.cuisine{ /*fait*/
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  pointer-events: none;
}

.viderdc { /*fait*/
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  pointer-events: none;
}
.wcs-7 { /*fait*/
  grid-row-start: 3;
  grid-row-end: 11;
  grid-column-start: 2;
  background-color: grey;
  font-color: white;
}
.wcs-12 { /*fait*/
  grid-row-start: 7;
  grid-row-end: 9;
  grid-column-start: 3;
  background-color: grey;
  font-color: white;
}
.wcs-buro{ /*fait*/
  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start: 3;
  background-color: grey;
  font-color: white;
}
.bloc-15 { /*fait*/
  grid-row-start: 9;
  grid-row-end: 11;
  grid-column-start: 1;
}
#etage {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.setup-1{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
}
.saison-2{
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 1;
}
.beta-3{
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
}
.duo-4{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
}
.agence-5{
  grid-row-start: 5;
  grid-row-end: 8;
  grid-column-start: 2;
}
.talkywalky-6{
  grid-row-start: 6;
  grid-row-end: 8;
  grid-column-start: 1;
}

.couleur{
  color: smoke-white;
  background-color: blue;
}
/*.container
{
   width: 940px;
   margin-right: auto;
   margin-left: auto;
}*/
.log {
  background-color: black;
}

header {
	color: #fffd00;
	background-color: #ff1883;
	font-size: 20px;
  background-image: url("https://zupimages.net/up/18/43/nqgl.gif");
	border: 2px solid rgba(255, 58, 58, 1);
	background-repeat: repeat;
	background-size: 30px;
	border: 2px solid rgba(255, 58, 58, 1);
}

.parent{
    display: -webkit-inline-box;
    overflow: hidden;
    width:100%;
}

div.myDiv {
    width: 300px;
    height: 300px;
    margin: 101px 189px 79px -98px;
    border: 2px solid freen;
    float:left;
    overflow: hidden;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg); /* Standard syntax */
}
div.myDiv:nth-child(even){
    margin: -10px 39px 0px -200px;
}

.myDiv img{
    width: 102%;
    height: 102%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 0px;

}

.myDiv img:hover {
    opacity: 0.8;
    width : 200%;
    height: 200%;
    margin: -100px;
}


header {
	color: #fffd00;
	background-color: #ff1883;
	font-size: 20px;
  background-image: url("https://zupimages.net/up/18/43/nqgl.gif");
	border: 2px solid rgba(255, 58, 58, 1);
	background-repeat: repeat;
	background-size: 30px;
	border: 2px solid rgba(255, 58, 58, 1);
}

.parent{
    display: -webkit-inline-box;
    overflow: hidden;
    width:100%;
}

div.myDiv {
    width: 300px;
    height: 300px;
    margin: 101px 189px 79px -98px;
    border: 2px solid freen;
    float:left;
    overflow: hidden;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg); /* Standard syntax */
}
div.myDiv:nth-child(even){
    margin: -10px 39px 0px -200px;
}

.myDiv img{
    width: 102%;
    height: 102%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 0px;

}

.myDiv img:hover {
    opacity: 0.8;
    width : 200%;
    height: 200%;
    margin: -100px;
}
.ctn
{
   width: 940px;
   margin-right: auto;
   margin-left: auto;

}
.row
{
  display:flex;
  align-items:center;
  justify-content:space-around;
  height: 10em;
  line-height:10em;
  white-space:nowrap;
  padding:0em;

}
.row,img
{
  width:100%;
  background-color:#ff1883;
}
.adresse
{
  color:#fffd00;
  font-size:1em;
  font-family:Arial,sans serif;
  background-color:#ff1883;

}
footer{
  background-color:#ff1883;
}
