.row
{

  display:flex;
  align-items:center;
  justify-content:space-around;
  height: 10em;
  line-height:10em;
  white-space:nowrap;
  padding:0em;

}
.row,img
{
  width:100%;
  background-color:#ff1883;
}
.adresse
{
  color:#fffd00;
  font-size:1em;
  font-family:Arial,sans serif;
  background-color:#ff1883;

}
